<div id="login-form" class="form">
  <h2>Log In</h2>
  <form action="/auth/login" method="POST">

    <input type="text" name="username" placeholder="Your username" />
    <br />
    <input type="password" name="password" placeholder="Your password" />
    <br />
    <input type="submit" class="btn" value="Login" />
  </form>
</div>
{{#if errorMessage}}
<div class="alert alert-warning mx-auto" style="width=40vw" role="alert">
  <p class="text-center">{{errorMessage}}</p>
</div>
{{/if}}