<div id="form" class="form">
  <h2>Sign Up</h2>
  <form action="/auth/signup" method="POST">

    <input type="text" name="username" placeholder="Your username" />
    <br />
    <input type="password" name="password" placeholder="Your password" />
    <br />
    <input type="submit" value="Signup" class="btn" />
  </form>
</div>
{{#if errorMessage}}
<div class="alert alert-warning mx-auto" style="width=40vw" role="alert">
  <p class="text-center">{{errorMessage}}</p>
</div>
{{/if}}