body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ff1d58;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

nav {
  background-color: #1e90ff;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #ee82ee;
  color: #fff;
}

nav h1 {
  color: white;
  margin: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin: 0 10px;
}

.form {
  display: block;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid black;
  text-align: center;
  margin-top: 40px;
}

.form input,
.form textarea {
  font-size: 16px;
  margin-bottom: 16px;
  padding: 7px 10px;
}

.btn {
  border: 1px solid black;
  padding: 7px 12px;
  background-color: white;
  text-decoration: none;
  color: black;
}

.btn:hover {
  background-color: black;
  color: white;
}

.form input[type="text"],
.form input[type="password"],
.form select,
.form textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form input[type="submit"]:hover {
  background-color: #45a049;
}

.form1 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
